* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.yeeun {
  width: 1440px;
  height: 590px;
  margin: 0 auto; 
  display: flex;
  background: #282725;
  justify-content: center;
  align-items:center;
  overflow:hidden;
}

.yeeun > img{
  padding-block: 20px;
  max-height: 100%;
  outline: 1px solid red;
}

.logo{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logo img{
  width: 45px;
  margin: 4px 0;
}

.logo img:first-child, .logo img:last-child {
  width: 30px;
  margin-left: 8px;
}


.BG{
  /* background-image: ; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border-width: 0;
}