* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.yeeun {
  width: 800px;
  height: 350px;
  margin: 0 auto; 
  display: flex;
  background: #282725;
  justify-content: center;
  align-items:center;
  overflow:hidden;
}

.yeeun > img{
  padding-block: 20px;
  max-height: 100%;
  outline: 1px solid red;
}

.logo{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logo img{
  width: 20px;
  margin: 4px 0;
}

.BG{
  /* background-image: ; */
}
